USE [TicketBooking]
GO
/****** Object:  Table [dbo].[tbl_Booking]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Booking](
	[Booking_id] [int] NOT NULL,
	[User_id] [int] NULL,
	[Category_id] [int] NULL,
	[Movie_id] [int] NULL,
	[No_Of_Tickets] [int] NULL,
	[Amount] [int] NULL,
 CONSTRAINT [PK_tbl_Booking] PRIMARY KEY CLUSTERED 
(
	[Booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Movie]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Movie](
	[Movie_id] [int] NOT NULL,
	[Movie_name] [nchar](50) NULL,
	[Release_date] [date] NULL,
	[Category_id] [int] NULL,
	[Rate] [float] NULL,
 CONSTRAINT [PK_tbl_Movie] PRIMARY KEY CLUSTERED 
(
	[Movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Movie_Category]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Movie_Category](
	[Category_id] [int] NOT NULL,
	[Type] [nchar](50) NULL,
 CONSTRAINT [PK_tbl_Movie_Category] PRIMARY KEY CLUSTERED 
(
	[Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[User_id] [int] NOT NULL,
	[User_name] [nchar](50) NULL,
	[Email_id] [nchar](50) NULL,
	[User_password] [nchar](50) NULL,
	[City] [nchar](50) NULL,
	[Phone_no] [bigint] NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Category_3] FOREIGN KEY([User_id])
REFERENCES [dbo].[tbl_User] ([User_id])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_Movie_Category_3]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Booking_ToTable] FOREIGN KEY([Category_id])
REFERENCES [dbo].[tbl_Movie_Category] ([Category_id])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Booking_ToTable]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Booking_ToTable_4] FOREIGN KEY([Movie_id])
REFERENCES [dbo].[tbl_Movie] ([Movie_id])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Booking_ToTable_4]
GO
/****** Object:  StoredProcedure [dbo].[add_user]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: add_user
-- =============================================
CREATE PROCEDURE [dbo].[add_user]
    @User_name VARCHAR(100),
    @Email_id VARCHAR(100),
    @User_password VARCHAR(100),
    @City VARCHAR(50),
    @Phone_no BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewUserId INT;

    SELECT @NewUserId = ISNULL(MAX(User_id), 0) + 1
    FROM dbo.tbl_User;

    INSERT INTO dbo.tbl_User
    (
        User_id,
        User_name,
        Email_id,
        User_password,
        City,
        Phone_no
    )
    VALUES
    (
        @NewUserId,
        @User_name,
        @Email_id,
        @User_password,
        @City,
        @Phone_no
    );
END
GO
/****** Object:  StoredProcedure [dbo].[delete_movie]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: delete_movie
-- =============================================
CREATE PROCEDURE [dbo].[delete_movie]
    @Movie_id INT
AS
BEGIN
    DELETE FROM tbl_Movie
    WHERE Movie_id = @Movie_id;
END
GO
/****** Object:  StoredProcedure [dbo].[get_user]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: get_user
-- =============================================
CREATE PROCEDURE [dbo].[get_user]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        User_id AS UserId,
        User_name AS UserName,
        Email_id AS Email,
        User_password AS Password,
        City,
        Phone_no AS PhoneNumber
    FROM dbo.tbl_User;
END
GO
/****** Object:  StoredProcedure [dbo].[get_user_by_id]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: get_user_by_id
-- =============================================
CREATE PROCEDURE [dbo].[get_user_by_id]
    @User_id INT
AS
BEGIN
    SELECT
        User_id,
        User_name,
        Email_id,
        User_password,
        City,
        Phone_no
    FROM tbl_User
    WHERE User_id = @User_id;
END
GO
/****** Object:  StoredProcedure [dbo].[login_user]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: login_user
-- =============================================
CREATE PROCEDURE [dbo].[login_user]
    @Email_id VARCHAR(100),
    @User_password VARCHAR(100)
AS
BEGIN
    SELECT
        User_id,
        User_name,
        Email_id,
        User_password,
        City,
        Phone_no
    FROM tbl_User
    WHERE Email_id = @Email_ID
      AND User_password = @User_password;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchMovieByCategory]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: SearchMovieByCategory
-- =============================================
CREATE PROCEDURE [dbo].[SearchMovieByCategory]
    @Category_id INT
AS
BEGIN
    SELECT
        Movie_id,
        Movie_name,
        Release_date,
        Category_id,
        Rate
    FROM tbl_Movie
    WHERE Category_id = @Category_id;
END
GO
/****** Object:  StoredProcedure [dbo].[update_user]    Script Date: 02-10-2026 05:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedure: update_user
-- =============================================
CREATE PROCEDURE [dbo].[update_user]
    @User_id INT,
    @User_name VARCHAR(100),
    @Email_id VARCHAR(100),
    @User_password VARCHAR(100),
    @City VARCHAR(50),
    @Phone_no BIGINT
AS
BEGIN
    UPDATE tbl_User
    SET
        User_name = @User_name,
        Email_id = @Email_id,
        User_password = @User_password,
        City = @City,
        Phone_no = @Phone_no
    WHERE User_id = @User_id;
END
GO
